@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Gaegu|Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

:root {
  --red-blue-vinyls: url("./assets/images/redandblue.jpeg");
  --black-and-white-vinyl: url("./assets/images/black-and-white.jpg");
  --brown: #4e2426;
  --blue: #04869f;
  --cream: #e6d2c1;
  --darkpink: #b54847;
  --peach: #d58073;
  --offwhite: #f7ece3;

  --darktext: #131315;
  --greytext: #3c403f;
  --lighttext: #d8ddd8;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--darktext);
  line-height: 1.6;
}

.App {
  text-align: center;
}
